<section class="entry">
  <div class="entry_container container">
    <div class="entry_main">
      <h1>
        100% защита дома <br  class="visible_when-md"/> от вирусов <br />
        и микробов
      </h1>

      <ul>
        <li>Убивает все известные вирусы и микробы</li>
        <li>Защищает поверхности от микробов 48 часов</li>
        <li>Подходит для любых поверхностей</li>
      </ul>
      <img src="./images/bottle.png" alt="Bottle" />
    </div>
    <div class="entry_aside">
        <div class="entry_aside-content">
            <h2>
                Специальное предложение!
            </h2>
            <p>
                Специальная цена
            </p>
            <p class="hot_price">
                149&#x20bd*
            </p>
        </div>

        <form class="entry_aside-form">
            <div class="form-control ">
                <label for="select_country"></label>
                <select name="select_country" id="select_country">
                    <option value="ru">Россия</option>
                    <option value="uk">Украина</option>
                    <option value="ru1">Россия1</option>
                    <option value="uk1">Украина1</option>
                </select>
            </div>

            <div class="form-control">
                <label for="name"></label>
                <input type="text" name="name" id="name" placeholder="Имя">
            </div>

            <div class="form-control">
                <label for="phone"></label>
                <input type="tel" name="phone" id="phone" placeholder="Телефон">
            </div>


            <button type="submit" class="btn">
                Заказать
            </button>

            <p>
                * при заказе набора
            </p>
        </form>
    </div>
  </div>
</section>
