.container {
  position: relative;
  width: 100%;
  max-width: calc(100% - 30px);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $md) {
    max-width: rem(640px);
  }
  @media (min-width: $lg) {
    max-width: rem(960px);
  }
  @media (min-width: $xl) {
    max-width: rem(1140px);
  }
}

.hidden_when-md {
  @media (max-width: $md) {
    display: none;
  }
}

.visible_when-md {
  display: none;
  @media (max-width: $md) {
    display: inline-block;
  }
}
