.entry {
  &_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    @media (min-width: $lg) {
      flex-direction: row;
    }
  }

  &_main {
    position: relative;
    width: 100%;
    margin-bottom: rem(74px);

    @media (min-width: $md) {
      width: rem(600px);
    }
    @media (min-width: $lg) {
      margin-bottom: 0;
    }
    @media (min-width: $xl) {
      width: rem(644px);
    }

    h1 {
      font-weight: 900;
      text-transform: uppercase;
      color: #118976;
      text-shadow: rem(2px) rem(2px) 0 #ffffff;
      font-size: rem(32px);
      line-height: rem(40px);

      width: rem(255px);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: rem(32px);

      @media (min-width: $md) {
        width: 100%;
        text-align: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: rem(64px);
        font-size: rem(50px);
        line-height: rem(62px);
      }

      @media (min-width: $xl) {
        font-size: rem(56px);
        line-height: rem(68px);
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      @media (max-width: $md) {
        width: rem(250px);
        margin-right: auto;
        margin-left: auto;
      }

      li {
        position: relative;
        font-weight: bold;

        color: #333333;
        display: block;
        padding-left: rem(76px);

        font-size: rem(18px);
        line-height: rem(24px);
        width: rem(180px);
        margin-bottom: rem(20px);

        &:before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: rem(56px);
          height: rem(56px);
          background: url("../../images/css_sprites.png") -10px -323px;
        }

        &:last-of-type {
          width: rem(115px);
          margin-bottom: rem(40px);
        }

        @media (min-width: $md) {
          font-size: rem(20px);
          line-height: rem(28px);
          margin-bottom: rem(50px);
          width: rem(277px);
          &:last-of-type {
            margin-bottom: 0;
            width: rem(277px);
          }
        }
      }
    }

    img {
      width: rem(176px);
      height: rem(388px);
      position: relative;
      margin-right: auto;
      margin-left: auto;
      display: block;

      @media (min-width: $md) {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  &_aside {
    background-color: #fff;
    box-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
    border-radius: rem(2px);
    box-sizing: border-box;
    width: 100%;
    max-width: rem(320px);
    padding: rem(24px) rem(33px);
    margin-bottom: rem(72px);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $md) {
      max-width: rem(400px);
      padding-left: rem(57px);
      padding-right: rem(57px);
    }
    @media (min-width: $lg) {
      max-width: rem(320px);
      margin: 0;
    }

    @media (min-width: $xl) {
      max-width: rem(368px);
      margin-bottom: 0;
    }

    &-content {
      margin-bottom: rem(53px);

      @media (min-width: $md) {
        margin-bottom: rem(88px);
      }
      h2 {
        font-weight: bold;
        font-size: rem(28px);
        line-height: rem(32px);
        letter-spacing: -0.01em;
        color: #333333;
        text-align: center;
        margin-bottom: rem(44px);

        @media (min-width: $md) {
          margin-bottom: rem(12px);
        }
      }

      p {
        font-weight: bold;
        font-size: rem(22px);
        line-height: rem(23px);
        margin-bottom: rem(4px);
        text-align: center;
        letter-spacing: -0.01em;
        color: #ff2c2c;

        &.hot_price {
          font-weight: 800;
          margin-bottom: 0;
          font-size: rem(38px);
          line-height: rem(51px);
        }
      }
    }

    &-form {
      .form-control {
        display: block;
        margin-bottom: rem(12px);
        position: relative;

        &:first-of-type {
          &:after {
            content: "";
            padding: rem(4px);
            position: absolute;
            right: rem(17px);
            top: rem(18px);
            z-index: 1;
            text-align: center;
            width: rem(14px);
            height: rem(8px);
            pointer-events: none;
            box-sizing: border-box;
            transition: 0.3s ease;
            background: url("../../images/css_sprites.png") -86px -323px;
          }

          &:focus-within:after {
            transform: rotate(180deg);
          }
        }
        &:last-of-type {
          margin-bottom: rem(20px);
        }
      }

      label {
        display: none;
      }

      select {
        cursor: pointer;
        appearance: none;
        &::-ms-expand {
          display: none;
        }
      }

      input,
      select {
        display: block;
        width: 100%;
        font-size: rem(14px);
        line-height: rem(16px);
        color: #333333;
        padding: rem(12px) rem(19px);
        border: rem(1px) solid #089c84;
        box-sizing: border-box;
        border-radius: rem(2px);
        transition: 0.3s ease;
        font-family: "Inter", sans-serif !important;

        &::placeholder {
          font-size: rem(14px);
          line-height: rem(16px);
        }
        &:focus {
          box-shadow: inset 0 0 rem(4px) rem(1px) #089c84;
        }
      }

      .btn {
        margin-bottom: rem(16px);
      }
      p {
        font-size: rem(12px);
        line-height: rem(20px);
        color: #828282;
        text-align: center;
      }
    }
  }
}
