.sprite-arrow_down {
  width: 14px;
  height: 8px;
  background: url("../../images/css_sprites.png") -86px -157px;
}

.sprite-check {
  width: 56px;
  height: 56px;
  background: url("../../images/css_sprites.png") -10px -157px;
}

.sprite-logo_bg {
  width: 406px;
  height: 127px;
  background: url("../../images/css_sprites.png") -10px -10px;
}
